header {
  display: flex;
  font-family: Verdana;
  font-size: 14;
  font-weight: bold;
  align-items: center;
}
nav {
  color: MediumAquamarine;
  padding-right: 40px;
}
.logo {
  padding-left: 30px;
}
.logo span {
  color: MediumAquamarine;
}
