/*v0.12*/
body div {
  border: 1px solid black;
}
header {
  display: flex;
  font-family: Verdana;
  font-size: 14;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
  z-index: 20;
  border-bottom: 1px solid black;
  position: fixed;
}
.logo {
  display: flex;
  padding-left: 30px;
  align-items: center;
}
.logo span {
  color: MediumAquamarine;
  margin-left: 10px;
}
nav {
  padding-right: 40px;
}
nav span {
  margin: 0px 10px;
}
nav a {
  color: black;
}
.main {
  
}
.column.large {
  width: 630px;
}
.column.medium {
  width: 300px;
}
.column.small {
  width: 240px;
}